version: 2.1

orbs:
  architect: giantswarm/architect@6.14.0

workflows:
  build:
    jobs:
    # ── Branch builds: amd64 only for faster PR feedback ──

    # klaus-git (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-git
        image: giantswarm/klaus-git
        dockerfile: ./klaus-git/Dockerfile
        build-context: ./klaus-git
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=git
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # klaus-git (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-git-debian
        image: giantswarm/klaus-git-debian
        dockerfile: ./klaus-git/Dockerfile.debian
        build-context: ./klaus-git
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=git
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # klaus-go (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-go
        image: giantswarm/klaus-go
        dockerfile: ./klaus-go/Dockerfile
        build-context: ./klaus-go
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=go
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # klaus-go (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-go-debian
        image: giantswarm/klaus-go-debian
        dockerfile: ./klaus-go/Dockerfile.debian
        build-context: ./klaus-go
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=go
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # klaus-python (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-python
        image: giantswarm/klaus-python
        dockerfile: ./klaus-python/Dockerfile
        build-context: ./klaus-python
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=python
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # klaus-python (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-python-debian
        image: giantswarm/klaus-python-debian
        dockerfile: ./klaus-python/Dockerfile.debian
        build-context: ./klaus-python
        platforms: "linux/amd64"
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=python
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          branches:
            ignore:
            - main

    # ── Tag builds: full multi-arch (amd64 + arm64) ──

    # klaus-git (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-git-release
        image: giantswarm/klaus-git
        dockerfile: ./klaus-git/Dockerfile
        build-context: ./klaus-git
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=git
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/

    # klaus-git (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-git-debian-release
        image: giantswarm/klaus-git-debian
        dockerfile: ./klaus-git/Dockerfile.debian
        build-context: ./klaus-git
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=git
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/

    # klaus-go (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-go-release
        image: giantswarm/klaus-go
        dockerfile: ./klaus-go/Dockerfile
        build-context: ./klaus-go
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=go
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/

    # klaus-go (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-go-debian-release
        image: giantswarm/klaus-go-debian
        dockerfile: ./klaus-go/Dockerfile.debian
        build-context: ./klaus-go
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=go
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/

    # klaus-python (Alpine)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-python-release
        image: giantswarm/klaus-python
        dockerfile: ./klaus-python/Dockerfile
        build-context: ./klaus-python
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=python
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/

    # klaus-python (Debian)
    - architect/push-to-registries-multiarch:
        context: architect
        name: push-klaus-python-debian-release
        image: giantswarm/klaus-python-debian
        dockerfile: ./klaus-python/Dockerfile.debian
        build-context: ./klaus-python
        resource_class: medium
        annotations: |
          manifest:io.giantswarm.klaus.type=toolchain
          manifest:io.giantswarm.klaus.name=python
          manifest:io.giantswarm.klaus.version=${DOCKER_IMAGE_TAG}
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
